td {
        border: 2px solid black;
        background-color: beige;
}

table {
        background-color: wheat;

}

ol {
        background-color: papayawhip;

}

ul {
        background-color: mistyrose;
}

h2 {
        background-color: aliceblue;
}